{
  'extends': 'airbnb-base',
  'parser': 'babel-eslint',
  'env': {
    'mocha': true,
    'jasmine': true
  },
  'globals': {
    'dedent': true,
    'inject': true,
    'fuckAdBlock': true
  },
  'rules': {
    'array-bracket-spacing': 0,
    'arrow-body-style': 0,
    'comma-dangle': [2, 'never'],
    'consistent-return': 0,
    'func-names': 0,
    'indent': [2, 2],
    'no-param-reassign': [ 2, { 'props': false } ],
    'no-underscore-dangle': 0,
    'padded-blocks': 0,
    'semi': [2, 'never'],
    'space-before-function-paren': [2, 'always'],
    'strict': [0, 'safe']
  },
  'ecmaFeatures': {
    'experimentalObjectRestSpread': true,
    'spread': true,
    'rest': true,
    'restParams': true
  },
}
