# Logs
*.log

.lock-wscript
.idea/
*~
\#*#
.#*
*.keystore
*.sw*
.DS_Store
._*
Thumbs.db
.cache
*.sublime-project
*.sublime-workspace
*swp
*swo
*swn
package
build
temp
.tmp
node_modules
bower_components
jspm_packages
.test
www
lib/
dist
lib
coverage
*.tgz
